.summary-card-container{
    width: 300px;
    height: 120px;
    background-color: azure;
    color: rgb(40, 38, 38);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.summary-card-container:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all ease-in 300ms;
}