.crd-dsc-cont{
    display: flex;
    justify-content: space-between;
    row-gap: 3px;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    min-height:80px;
    min-width: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.crd-dsc-desc-info{
    display: flex;
    flex-direction: column;
}
.crd-dcs-name{
font-weight: 700;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(39, 39, 39);
font-size: 18px;

}
.crd-dcs-amount{
font-weight: 700;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #909096;
font-size: 15px;

}
.crd-dcs-amount:hover{
    scale: 1.2;
    transition: all ease-in 300ms;
    cursor: pointer;
}
.crd-dcs-date-container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 12px;
}
.crd-dcs-date-container:hover{
    scale: 1.2;
    transition: all ease-in 300ms;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    cursor: pointer;
}
.crd-dcs-date-container span{
    color: rgb(255, 170, 127);
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.crd-dsc-icon-cont{
    height: auto;
    width: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
}
