.animated-btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  background: #009C3E;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 4px 15px rgba(59, 130, 246, 0.3);
  letter-spacing: 1px;
  min-width: 120px;
  width: 100%;
  max-width: 200px;
}


@media (min-width: 480px) {
  .animated-btn {
    padding: 12px 24px;
    font-size: 16px;
    width: auto;
    min-width: 140px;
  }
}

@media (min-width: 768px) {
  .animated-btn {
    padding: 14px 28px;
    font-size: 18px;
    min-width: 160px;
  }
}


.animated-btn:hover {
  background: #1d4ed8;
  transform: scale(1.05) translateY(-2px);
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(59, 130, 246, 0.5);
  letter-spacing: 2px;
}

.animated-btn:active {
  transform: scale(0.95) translateY(0px);
  box-shadow: 0 2px 10px rgba(59, 130, 246, 0.3);
  border-radius: 8px;
}

.animated-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}
.submit-btn-container{
    padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  background: #040504;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 4px 15px rgba(12, 26, 49, 0.3);
  letter-spacing: 1px;
  min-width: 120px;
  width: 100%;
  max-width: 200px;
}

@media (min-width: 480px) {
  .submit-btn-container{
    padding: 12px 24px;
    font-size: 16px;
    width: auto;
    min-width: 140px;
  }
}

@media (min-width: 768px) {
  .submit-btn-container {
    padding: 14px 28px;
    font-size: 18px;
    min-width: 160px;
  }
}
.submit-btn-container:hover {
  background: #1d4ed8;
  transform: scale(1.005) translateY(-2px);
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(59, 130, 246, 0.5);

}

.submit-btn-container:active {
  transform: scale(0.95) translateY(0px);
  box-shadow: 0 2px 10px rgba(59, 130, 246, 0.3);
  border-radius: 8px;
}
