.form-main-container{
   width: 100%;
   min-height: 100vh;
   background-color:rgba(0, 0, 0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 100;


}
.frm-container{
    width: 400px;
    min-height:500px;
    background-color: rgb(237, 255, 249);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
}
.form-title{
    color: black;
    font-size: medium;
    font-style: italic;
    
}