.crd-dsc-cont{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-radius: 15px;
    min-height:40px;
    min-width: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.crd-dsc-desc-info{
    display: flex;
    flex-direction: column;
}
.crd-dcs-name{
font-weight: 700;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(39, 39, 39);
font-size: 18px;

}
.crd-dcs-amount{
font-weight: 700;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(89, 89, 89);
font-size: 15px;

}
.crd-dcs-date-container{
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #FF0000;
}
.crd-dcs-date-container span{
    color: aliceblue;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}