.Dbt-compo-list-title-container{
    display: flex;
    flex-direction: column;
}
.Dbt-compo-list-title1{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.Dbt-compo-list-title2{
    font-size: 15px;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
}
.Dbt-compo-list-container{
    margin-top: 10px;
    min-width: 70px;
    min-height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}