.customerlisttable {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius:5px ;
}


.customerlisttable thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(97, 3, 120);
  color: white;
  font-size: 20px;
}

.customerlisttable tbody {
  display: block;       
  max-height: 500px;      
  overflow-y: auto;
  width: 100%;
  color: rgb(34, 169, 0);
  background-color: rgba(27, 27, 27,0.3);
  font-size: 18px;
}


.customerlisttable thead tr,
.customerlisttable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.customerlisttable th,
.customerlisttable td {
  padding-top: 12px;
  padding-bottom:12px;
  border: none;
  text-align: center;
}
tbody tr:hover{
    transition: all ease-in 300ms;
    cursor: pointer;
    background-color: rgba(65, 105, 250,0.3);
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
