.customerlisttable {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius:5px ;
}


.customerlisttable thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(97, 3, 120);
  color: white;
  font-size: 20px;
}

.customerlisttable tbody {
  display: block;       
  max-height: 500px;      
  overflow-y: auto;
  width: 100%;
  color: rgb(116, 255, 81);
  background-color: rgba(27, 27, 27,0.5);
  font-size: 18px;
}


.customerlisttable thead tr,
.customerlisttable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.customerlisttable th,
.customerlisttable td {
  padding-top: 12px;
  padding-bottom:12px;
  border: none;
  text-align: center;
}
tbody tr:hover{
    transition: all ease-in 300ms;
    cursor: pointer;
    background-color: rgba(65, 105, 250,0.5);
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.customizedtd{
  background-color: rgb(6, 113, 207);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px,
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
    rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
}
.customizedtd:hover{
  transition: all ease-in-out 500ms;
  background-color: red;
}

/* form styles */

.formContainer{
  width: 500px;
  height: 600px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 12px;
}
.formTitle{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-right:2px solid red ;
  border-left: 2px solid blue;
  border-radius: 25px;
}
.formTitle span{
  color: rgb(5, 63, 135);
  font-size: 22px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 12px;
}
.mainFormContainer{
  width: 100%;
  height: 500px;
  border: 2px solid black;
  display: flex;
  color: black;
}
.inputContainer{
  width: 100%;
  height: 10vh;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
 
}
.inputContainer label{
    color: grey;
    font-size: 20px;
    font-weight: 900;
}
.inputContainer input{
  width: 75%;
  height: 50px;
  border-radius: 22px;
  padding:12px ;
  background-color: aliceblue;
  outline: none;
}