.customerlisttable{
    width: 100%;
    height:fit-content;
}
.customerlisttable thead{
    height: 35px;
    background-color: rgb(97, 3, 120);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
.customerlisttable tr{
    border:none;
    border-radius: 12px;
    
}