.nav-container{
   background-color: aliceblue;
   width: 20vw;
   height: 100vh;
   border-radius:5px;
   color: black;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.navlist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}
.navlist-container ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav-name{
  display: flex;
  align-items: flex-start;
  justify-items: center;
  width: 200px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}