.transction-main-container{
    display: flex;
    flex: 1;
    background-color: aliceblue;
    width: 100%;
    min-height:100vh ;
    padding: 15px;
    border: 2px solid red

}
.transcation-top-bar{
    width: 100%;
    height: 10vh;
    border:2px solid green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:5px;
}