.transctionmaincontainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex: 1;
  background-color: rgb(213, 213, 213);
  width: 100%;
  min-height: 100vh;
  padding: 15px;
  border: 2px solid red;
}
.transcationtopbar {
  width: 100%;
  height: 80px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.transactionIconContainer {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(2, 2, 125);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.transactiontitle {
  width: 100%;
  height: auto;
  border: 2px solid green;
  padding-left: 20px;
}
.transactiontitle span {
  color: rgb(48, 48, 48);
  font-size: 45px;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.transcionamountcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.TranscationBody {
  overflow-y: auto;
  height: 80vh;
  width: 100%;
  border: 2px solid gold;
  
}
.transactionRecord {
  width: 60%;
  height: 80vh;
  border: 1px solid black;
  margin-right: 10px;
  padding: 3px;
}
.transactionAssign {
  width: 40%;
  height: 80vh;
  border: 1px solid rgb(0, 59, 196);
  margin-left: 10px;
  padding: 3px;
}
.transactionsalaryContainer {
  background-color: blue;
  width: 100%;
  height: 190px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.transactionHistory {
  width: 100%;
  height: 80px;
  background-color: #e9eeff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.transactionHistory span{
    color: grey;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.transactionInfoHistory{
    width: 100%;
    min-height:200px ;
    max-height:250px;
    border: 2px solid red;
    margin-top: 12px;
}
.transactionInfoHistory span{
    color: grey;
    font-size: 22px;
    font-weight: 500;
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.barRecord{
    width: 100%;
    min-height: 70px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: black;

}
.barRecord div:first-child{
    width:60px;
    height: 60px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barRecord div:nth-child(2) span{
    color:rgb(46, 46, 46);
    font-size: large;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.barRecord div:nth-child(3) span:first-child{
    color:rgb(1, 193, 30);
    font-size: medium;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.barRecord div:nth-child(3) span:last-child{
    color: rgb(162, 5, 5);
    font-size: medium;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.barRecord div:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 5px;
    color: white;
    border: 2px solid red;
}

