.transctionmaincontainer{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 1;
    background-color: aliceblue;
    width: 100%;
    min-height:100vh ;
    padding: 15px;
    border: 2px solid red
}
.transcationtopbar{
    width: 100%;
    height: 100px;
    border:2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
}
.transactionIconContainer{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(2, 2, 125);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.transactiontitle{
    width: 100%;
    height: auto;
    border: 2px solid green;
    padding-left: 20px;
  
}
.transactiontitle span{
    color: rgb(48, 48, 48);
    font-size: 45px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.transcionamountcontainer{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right:20px ;
}
.TranscationBody{
    overflow-y: auto;
    height: 80vh;
    width: 100%;
    border: 2px solid gold;
}