.transction-main-container{
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    flex: 1;
    background-color: aliceblue;
    width: 100%;
    min-height:100vh ;
    padding: 15px;
    border: 2px solid red
}
.transcation-top-bar{
    width: 100%;
    height: 80px;
    border:2px solid green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:5px;
}
.transcion-amount-container{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right:20px ;

}